html, body {background-color: #fff;}
body {color: #111;text-shadow: none;font-family: 'Source Sans Pro', sans-serif;position: relative;height: 100%;}
li {list-style-type: none;}

.container {padding-top: 60px;overflow:hidden;} /*display none setzen */
.container.show {display:block;}
.container .row {margin-bottom: 40px;}
.container .row.last {padding-bottom: 150px!important;margin-bottom: 150px!important;border-bottom: 10px solid #111;}

section img {display: block;max-width: 100%;height: auto;}



.site-wrapper {background: url("images/top.jpg");background-size: cover;}
h3.masthead-brand {font-weight: 700;}
h3.masthead-brand a {color:#111;}
h3.masthead-brand a:hover {text-decoration: none;}
.cover-heading {font-weight: 100;font-size: 5em;color:#fff;}
.masthead {position: absolute;}
.masthead-nav > li > a {color:#111;font-size: 18px;}
.masthead-nav > li:hover > a {color:#fff;}
.masthead-nav > li > ul {display: none;position: absolute;padding: 12px 18px;background: url(images/bkg_transparent_lighter.png) repeat;}
.masthead-nav > li:hover > ul {display: block;}
.masthead-nav > li > ul li {list-style-type: none;text-align: left;width: 195px;}
.masthead-nav > li > ul li a {font-size: 20px;font-weight: 100;}
.masthead-nav > li > ul li a:hover {color:#16a085;text-decoration:none;}
nav li:hover ul {display: block;}
nav li#sidemenu-past:hover {margin-bottom: 210px;}
nav li#sidemenu-present:hover {margin-bottom: 40px;}
nav li#sidemenu-future:hover {margin-bottom: 80px;}


.list-group {margin: 0px;padding: 0px;}
.list-group > li {list-style-type: none;text-align: left;height: 67px;margin-bottom: 3px;}
.list-group > li:hover {}
.list-group > li a {border: none;font-weight: 900;font-size: 45px;color: #111;padding: 0px;margin: 0px;}
.list-group > li:hover a {background-color: #fff;}
.list-group > li.active a {color: #16a085;}
.list-group > li:hover > ul > li > a,
.list-group > li.active > ul > li > a {color: #111;font-size: 17px;}
.list-group > li > ul > li.active > a {color: #16a085;;}
.list-group > li > ul > li > a.active {color: violet;}
.list-group > li > ul > li > a:hover,
.list-group > li > ul > li:hover > a {text-decoration: none;color:#555;	}
.list-group > li > ul > li:hover > a:before {content:"> "}
.list-group > li ul {display: none;margin:0px 0px 0px 1px;padding:0px;}
.list-group > li.active ul {display: block;}
.list-group > li ul li a {font-size: 14px;font-weight: 300;}
.list-group > li#sidemenu-past.active {margin-bottom:210px;}
.list-group > li#sidemenu-present.active {margin-bottom:40px;}
.list-group > li#sidemenu-future.active {margin-bottom:80px;}

#sidebar.col-md-9,
.hey {width: 200px!important;}
.hey .col-md-9 {width: auto!important;}
.text.col-md-6 {width:48%!important;margin-right:2%;}
.text.col-md-12 {width:98%!important;}
.map-6 {height:250px;}
.map-6 iframe {height:100%;width:100%;}


.container #scroll-able {height:1000px;overflow:scroll;}
section {margin-bottom: 100px;}
.block {position: absolute;width: 430px;}
.block img {width: 100%;}

#sidemenu-top a i:before,
#sidemenu-top a i,
#sidemenu-top a,
#sidemenu-top {
	background:transparent!important;
}

#content-right [class*="span"] {padding: 0px;}

.grid {position: relative;clear: none;margin: 0;padding: 0em;max-width: 1000px;list-style: none;text-align: center;}
.grid figure {position: relative;float: left;overflow: hidden;margin: 0px;min-width: inherit;max-width: none;max-height: none;width: 100%;height: auto;background: #111;text-align: center;cursor: pointer;}
figure.effect-julia img {width: 100%;height: auto;}
figure.effect-julia h2 {font-size: 4.5em;font-weight: 100;line-height:8em;}
figure.effect-julia figcaption {text-align: center;}

h1 {margin-top: 0px;font-weight: 100;}



/* code for animated blinking cursor */
.typed-cursor{
		opacity: 1;
		font-weight: 100;
		-webkit-animation: blink 0.7s infinite;
		-moz-animation: blink 0.7s infinite;
		-ms-animation: blink 0.7s infinite;
		-o-animation: blink 0.7s infinite;
		animation: blink 0.7s infinite;
}
@-keyframes blink{
		0% { opacity:1; }
		50% { opacity:0; }
		100% { opacity:1; }
}
@-webkit-keyframes blink{
		0% { opacity:1; }
		50% { opacity:0; }
		100% { opacity:1; }
}
@-moz-keyframes blink{
		0% { opacity:1; }
		50% { opacity:0; }
		100% { opacity:1; }
}
@-ms-keyframes blink{
		0% { opacity:1; }
		50% { opacity:0; }
		100% { opacity:1; }
}
@-o-keyframes blink{
		0% { opacity:1; }
		50% { opacity:0; }
		100% { opacity:1; }
}


/* Map */
.mapTooltip {
	position:fixed;
	moz-opacity:0.70;
	opacity: 0.70;
	filter:alpha(opacity=70);
	z-index: 1000;
	display:none;
	background: #111;
	padding: 10px;
	opacity: 1;
	color: #fff;
}



.zoomIn, .zoomOut {
	background-color:#fff;
	border:1px solid #ccc;
	color:#000;
	width:15px;
	height:15px;
	line-height: 15px;
	text-align:center;
	border-radius:3px;
	cursor:pointer;
	position:absolute;
	top : 10px;
	font-weight:bold;
	left : 10px;

	-webkit-user-select: none; // For Webkit
	-khtml-user-select: none;
	-moz-user-select: none; // For Mozilla
	-o-user-select: none;
	user-select: none; // Default
}

.zoomOut {
	top:30px;
}

.map {
	position:relative;
}


.strp-container,
.strp-info-padder {
	background: #111!important;
}

.strp-caption {
	font-size: 20px!important;
}

.strp-info-padder {
	padding: 20px 12px!important;
}

.flex-video {
	position: relative!important;
	padding-bottom: 54.25%!important;
	padding-top: 0px!important;
	height: 0!important;
	margin-left:15px;
	width:95%;
}
.flex-video iframe {
	position: absolute!important;
	top: 0!important;
	left: 0!important;
	width: 100%!important;
	height: 100%!important;
}

.flex-video.scand {
	padding-bottom: 45.25%!important;
}

.tobec {
	position: absolute;
	margin: 42% 17%;
	font-weight:bold;
	left: 0%;
}

.sidemenu-open {
	display:none;
}

@media (max-width:1024px) {
	#sidebar.col-md-9 {
		padding-left:0px;
	}
	h1 {
		font-size:30px;
	}
	.lead {
		font-size:19px;
	}

	.is-sticky #sidebar {
		position: fixed;
		padding: 0px!important;
		margin: 0px!important;

	}



}

@media (max-width:768px) {
	.hideit {
		display:none;
	}


	.container .row {
		margin-bottom: 0px;
	}

	section img {
		width: 100%;
	}

	.text.col-md-12,
	.text.col-md-6 {
		width: 100%!important;
		margin-right: 2%;
		padding: 3% 5%;
	}

	.is-sticky #sidebar {
		top: 0px!important;
		left: 0px;
	}

	nav li:hover ul {
		display: none;
	}

	nav li#sidemenu-past:hover,
	nav li#sidemenu-present:hover,
	nav li#sidemenu-future:hover {
		margin-bottom: 0px;
	}

	.list-group > li.hover a
	.list-group > li.active a {
		color: #16a085;
	}

	.list-group > li.active ul {display: none;}

	#sidebar.col-md-9, .hey {
		width: 100%!important;
		z-index:99;
	}

	.list-group > li {
		float: left;
		padding:0px 2%;
	}
	.list-group > li.active a,
	.list-group > li a {
		background: transparent;
	}
	.list-group > li a {
		color:#fff;
	}

	nav.target_nav {
		left: 0px;
		position: absolute;
		top: -20px;
	}
	#target_nav {
		background: #111;
		opacity: 0.7;
	}
	.list-group > li#sidemenu-past.active,
	.list-group > li#sidemenu-present.active,
	.list-group > li#sidemenu-future.active {
		margin-bottom: 0px!important;
	}
	.list-group > li:hover a {
		background-color: transparent;
		color: #fff!important;
	}


}


@media (max-width:414px) {
	.masthead {

		width: 100%;
	}

	.cover-heading {
		display:none;
	}
	.list-group > li {
		height: auto;
	}

	.list-group > li a {
		font-size: 2em;
	}

	.text.col-md-12,
	.text.col-md-6 {
		width: 100%!important;
		margin-right: 0%;
		padding: 7% 10%;
	}


	.container .row.last {
		padding-bottom: 0px!important;
		margin-bottom:0px!important;
		border-bottom: 100px solid #111;
	}

	figure.effect-julia h2 {
		line-height: 1em;
		font-size:2.5em;
	}
	#list {
		margin-top: 45px;
	}

	.essay {
		width: 100%;
	}
	.container {
		padding-top: 0px;
	}
	#sidebar {
		display:none;
	}
	.sticky-wrapper {
		display:none;
	}
}




/* Essay */

.essay-page .masthead, .essay-page .mastfoot, .essay-page .cover-container {
	padding-bottom: 120px;
}

.essay-page .site-wrapper {
	height: 60px!important;
	min-height: 0px!important;
}

.essay-page #content-right a {
	color:#111;
	text-decoration:underline;
}

.normal-list, .normal-list li {
	text-align:left;
	list-style:circle;
	margin-left:10px;
	padding-left:0px;
}
