html, body {background-color: #fff;}
body {color: #111;text-shadow: none;font-family: 'Source Sans Pro', sans-serif;position: relative;height: 100%;}
li {list-style-type: none;}

.container {padding-top: 60px;overflow:hidden;} /*display none setzen */
.container.show {display:block;}
.container .row {margin-bottom: 40px;}
.container .row.last {padding-bottom: 150px!important;margin-bottom: 150px!important;border-bottom: 10px solid #111;}

section img {display: block;max-width: 100%;height: auto;}



.site-wrapper {background: url("images/places/top.jpg");background-size: cover;}
h3.masthead-brand {font-weight: 700;}
h3.masthead-brand a {color:#111;}
h3.masthead-brand a:hover {text-decoration: none;}
.cover-heading {font-weight: 100;font-size: 5em;color:#fff;}
.masthead {position: absolute;}
.masthead-nav > li > a {color:#111;font-size: 18px;}
.masthead-nav > li:hover > a {color:#fff;}
.masthead-nav > li > ul {display: none;position: absolute;padding: 12px 18px;background: url(images/bkg_transparent_lighter.png) repeat;}
.masthead-nav > li:hover > ul {display: block;}
.masthead-nav > li > ul li {list-style-type: none;text-align: left;width: 195px;}
.masthead-nav > li > ul li a {font-size: 20px;font-weight: 100;}
.masthead-nav > li > ul li a:hover {color:#16a085;text-decoration:none;}
nav li:hover ul {display: block;}
nav li#sidemenu-past:hover {margin-bottom: 210px;}
nav li#sidemenu-present:hover {margin-bottom: 40px;}


.list-group {margin: 0px;padding: 0px;}
.list-group > li {list-style-type: none;text-align: left;height: 67px;margin-bottom: 3px;}
.list-group > li:hover {}
.list-group > li a {border: none;font-weight: 900;font-size: 45px;color: #111;padding: 0px;margin: 0px;}
.list-group > li:hover a {background-color: #fff;}
.list-group > li.active a {color: #16a085;}
.list-group > li:hover > ul > li > a,
.list-group > li.active > ul > li > a {color: #111;font-size: 17px;}
.list-group > li > ul > li.active > a {color: #16a085;;}
.list-group > li > ul > li > a.active {color: violet;}
.list-group > li > ul > li > a:hover,
.list-group > li > ul > li:hover > a {text-decoration: none;color:#555;	}
.list-group > li > ul > li:hover > a:before {content:"> "}
.list-group > li ul {display: none;margin:0px 0px 0px 1px;padding:0px;}
.list-group > li.active ul {display: block;}
.list-group > li ul li a {font-size: 14px;font-weight: 300;}
.list-group > li#sidemenu-past.active {margin-bottom:210px;}
.list-group > li#sidemenu-present.active {margin-bottom:40px;}

#sidebar.col-md-9,
.hey {width: 200px!important;}
.hey .col-md-9 {width: auto!important;}
.map-6 {height:250px;}
.map-6 iframe {height:100%;width:100%;}


.container #scroll-able {height:1000px;overflow:scroll;}
section {margin-bottom: 100px;}
.block {position: absolute;width: 430px;}
.block img {width: 100%;}


#content-right [class*="span"] {padding: 0px;}

.grid {position: relative;clear: none;margin: 0;padding: 0em;max-width: 1000px;list-style: none;text-align: center;}
.grid figure {position: relative;float: left;overflow: hidden;margin: 0px;min-width: inherit;max-width: none;max-height: none;width: 100%;height: auto;background: #111;text-align: center;cursor: pointer;}
figure.effect-julia img {width: 100%;height: auto;}
figure.effect-julia h2 {font-size: 5em;font-weight: 100;line-height:8em;}
figure.effect-julia figcaption {text-align: center;}


/*.grid {padding: 20px 20px 100px 20px;max-width: 1300px;margin: 0 auto;list-style: none;text-align: center;}
.grid li {display: inline-block;width: 440px;margin: 0;padding: 20px;text-align: left;position: relative;}
.grid a {margin: 0;position: relative;}
.grid a img {max-width: 100%;display: block;position: relative;}
.grid a {position: absolute;top: 0;left: 0;padding: 20px;background: #111;color: #ed4e6e;}
.grid figcaption h3 {margin: 0;padding: 0;color: #fff;}
.grid figcaption a {text-align: center;padding: 5px 10px;border-radius: 2px;display: inline-block;background: #ed4e6e;color: #fff;}
.cs-style-4 div {-webkit-perspective: 1700px;-moz-perspective: 1700px;perspective: 1700px;-webkit-perspective-origin: 0 50%;-moz-perspective-origin: 0 50%;perspective-origin: 0 50%;}
.cs-style-4 figure {-webkit-transform-style: preserve-3d;-moz-transform-style: preserve-3d;transform-style: preserve-3d;}
.cs-style-4 figure > div {overflow: hidden; margin-bottom: 50px;}
.cs-style-4 figure img {-webkit-transition: -webkit-transform 0.4s;-moz-transition: -moz-transform 0.4s;transition: transform 0.4s;}
.no-touch .cs-style-4 figure:hover img,
.cs-style-4 figure.cs-hover img {-webkit-transform: translateX(20%);-moz-transform: translateX(20%);-ms-transform: translateX(20%);transform: translateX(20%);}
.cs-style-4 figcaption {height: 100%;opacity: 0;-webkit-backface-visibility: hidden;-moz-backface-visibility: hidden;backface-visibility: hidden;-webkit-transform-origin: 0 0;-moz-transform-origin: 0 0;transform-origin: 0 0;-webkit-transform: rotateY(-90deg);-moz-transform: rotateY(-90deg);transform: rotateY(-90deg);-webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;-moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;transition: transform 0.4s, opacity 0.1s 0.3s;}
.cs-style-4 .col-md-12 figcaption {width: 25%;}
.cs-style-4 .col-md-9 figcaption {width: 33%;}
.cs-style-4 .col-md-6 figcaption {width: 50%;}
.cs-style-4 .col-md-4 figcaption {width: 75%;}
.no-touch .cs-style-4 figure:hover figcaption,
.cs-style-4 figure.cs-hover figcaption {opacity: 1;-webkit-transform: rotateY(0deg);-moz-transform: rotateY(0deg);transform: rotateY(0deg);-webkit-transition: -webkit-transform 0.4s, opacity 0.1s;-moz-transition: -moz-transform 0.4s, opacity 0.1s;transition: transform 0.4s, opacity 0.1s;}
.cs-style-4 figcaption a {position: absolute;bottom: 20px;right: 20px}*/

h1 {margin-top: 0px;font-weight: 100;}



/* code for animated blinking cursor */
.typed-cursor{
		opacity: 1;
		font-weight: 100;
		-webkit-animation: blink 0.7s infinite;
		-moz-animation: blink 0.7s infinite;
		-ms-animation: blink 0.7s infinite;
		-o-animation: blink 0.7s infinite;
		animation: blink 0.7s infinite;
}
@-keyframes blink{
		0% { opacity:1; }
		50% { opacity:0; }
		100% { opacity:1; }
}
@-webkit-keyframes blink{
		0% { opacity:1; }
		50% { opacity:0; }
		100% { opacity:1; }
}
@-moz-keyframes blink{
		0% { opacity:1; }
		50% { opacity:0; }
		100% { opacity:1; }
}
@-ms-keyframes blink{
		0% { opacity:1; }
		50% { opacity:0; }
		100% { opacity:1; }
}
@-o-keyframes blink{
		0% { opacity:1; }
		50% { opacity:0; }
		100% { opacity:1; }
}


/* Map */
.mapTooltip {
	position:fixed;
	moz-opacity:0.70;
	opacity: 0.70;
	filter:alpha(opacity=70);
	z-index: 1000;
	display:none;
	background: #111;
	padding: 10px;
	opacity: 1;
	color: #fff;
}



.zoomIn, .zoomOut {
	background-color:#fff;
	border:1px solid #ccc;
	color:#000;
	width:15px;
	height:15px;
	line-height: 15px;
	text-align:center;
	border-radius:3px;
	cursor:pointer;
	position:absolute;
	top : 10px;
	font-weight:bold;
	left : 10px;

	-webkit-user-select: none; // For Webkit
	-khtml-user-select: none;
	-moz-user-select: none; // For Mozilla
	-o-user-select: none;
	user-select: none; // Default
}

.zoomOut {
	top:30px;
}

.map {
	position:relative;
}
